[2022-02-28 09:09] kaustav202 opened #2 "README description"
The project needs a brief readme section devoted to what is it's functionality and what it does. This will help new comers in getting accustomed and provide a broad overview.

[2022-02-28 17:45] shubhsardana29 commented on #2
Hi, I'm GSSOC'22 participant, would love to work on this issue. Could you please assign me this?
Thank you.

[2022-02-28 18:10] kaustav202 commented on #2
I can take up this issue if it's assigned to me.

[2022-02-28 18:26] kaustav202 commented on #2
for gssoc22

[2022-02-28 19:21] satyam4484 commented on #2
could you explain your project what its all about

[2022-03-01 03:30] coding-geek21 commented on #2
Go ahead with this issue

[2022-03-01 03:31] coding-geek21 commented on #2
Issues will be assigned based on first come first serve.. So look for some other issue

[2022-03-01 03:32] coding-geek21 opened #3 "Create an Issue template"

[2022-03-01 03:32] coding-geek21 opened #4 "Create a PR template"

[2022-03-01 03:46] coding-geek21 commented on #2
You can check up the project description and project details on gssoc website...
This project is all about online classroom in django,  Check this video you will get an idea
https://www.youtube.com/watch?v=SVEMykwTRBE&feature=youtu.be

[2022-03-01 05:13] chinmayparekh commented on #2
Hi, I am a GSSOC'22 participant and I would love to make the Readme documentation better by including steps for setting up the virtual environment,install requirements and then running the code. Could you please assign this issue to me?

[2022-03-01 05:16] chinmayparekh commented on #3
I would love to work on this. Could you please assign this issue to me?

[2022-03-01 05:17] chinmayparekh commented on #4
I would love to work on this issue. Could you please assign this task to me?

[2022-03-01 05:18] chinmayparekh opened #5 "The requirements have to be updated, I faced difficulty in setting up the project as a few libraries were missing in the requirements,so can I update the requirements?"

[2022-03-01 05:41] coding-geek21 commented on #2
All these are already added

[2022-03-01 10:55] adi7yashah commented on #3
I am a participant of GSSOC'22. I want to work on this issue .Can you please aassign me?

[2022-03-01 10:55] adi7yashah commented on #2
I am a participant of GSSOC'22. I want to work on this issue .Can you please aassign me?

[2022-03-01 16:05] yaswanthsaivendra opened #7 "Add contributing.md file"
An overview of what u need to add:

- add a desc. of basic disciplinary rules contributors have to follow to maintain a healthy environment
   - things like asking for assignment an issue before starting working on it.
   - creating a pr for assigned issue within a response time of one week , otherwise it will be unassigned etc..
- creating a new branch after setting up the project locally before

[2022-03-01 16:38] ShadabImran07 opened #8 "ModuleNotFoundError"
o module named 'dj_database_url

[2022-03-01 16:52] ShadabImran07 opened #9 "issue found in setting.py file"
some issue in template dir

[2022-03-01 17:21] coding-geek21 opened #11 "Enhancing Home page"

[2022-03-01 17:24] coding-geek21 opened #12 "Enhancing Teachers Dashboard"

[2022-03-01 17:25] coding-geek21 opened #13 "Enhancing Students Dashboard"

[2022-03-01 17:43] kaustav202 commented on #7
I would like to work on it @coding-geek21

[2022-03-01 17:44] chinmayparekh opened #14 "Issue found in requirements.txt"
Please assign this issue to me

[2022-03-01 18:06] yaswanthsaivendra commented on #11
@kaustav202 , You already have 2 assigned issues. Ask for assignment of a new one once you are done with them.

[2022-03-01 18:06] coding-geek21 commented on #11
Complete Issue #2  first before jumping to this

[2022-03-01 19:01] kaustav202 commented on #11
Okay sure

[2022-03-01 19:08] #14 closed

[2022-03-01 19:21] chinmayparekh commented on #7
I would like to work on it @coding-geek21 @yaswanthsaivendra

[2022-03-01 19:21] chinmayparekh commented on #11
I would like to work on it @coding-geek21 @yaswanthsaivendra

[2022-03-01 19:21] chinmayparekh commented on #12
I would like to work on it @coding-geek21 @yaswanthsaivendra

[2022-03-01 19:22] chinmayparekh commented on #13
I would like to work on it @coding-geek21 @yaswanthsaivendra

[2022-03-02 04:34] laraib-786 commented on #12
I would like to work on it @coding-geek21

[2022-03-02 07:04] Ashsenior commented on #12
Hey , @coding-geek21 are u planning on splitting your backend and frontend with react ? It will make the webapp more robust and open to many other features . If u want I can work on it and can also work on the quiz section and add new categories of questions like one word , match , long etc to the quiz section .

[2022-03-02 08:16] nikitadhona commented on #11
Can I work on this?

[2022-03-02 08:28] Kritinp commented on #11
Hey @coding-geek21 can you please assign this task to me?

[2022-03-02 08:40] #3 closed

[2022-03-02 08:40] #4 closed

[2022-03-02 08:40] #5 closed

[2022-03-02 09:04] Abhishek2408 commented on #12
Hey, @coding-geek21 actually I'm facing one issue while installing the requirements it is showing me metadata-generation-failed. can u please help me to solve this

[2022-03-02 10:39] kaustav202 commented on #7
I hope that it can be resolved now. Please let me know if any changes or improvements need to be made.
@coding-geek21 @yaswanthsaivendra

[2022-03-02 10:47] chinmayparekh commented on #13
Het @coding-geek21 @yaswanthsaivendra I am facing issue in running the server. I am getting WSGI application could not be loaded (I guess it was changed while hosting the site) ,i am unable to resolve it. I have attached the errors which i encountered with this message
![Screenshot from 2022-03-02 16-16-56](https://user-images.githubusercontent.com/76399431/156347295-8c345d40-41b3-483d-ab12-c272c8

[2022-03-02 13:31] iamtanya-22 opened #22 "Enhancing sign up dashboard"

[2022-03-02 13:32] iamtanya-22 commented on #22
I want to work on it by making the UI look good on laptops as well as on PC.
So, assign this issue to me.

[2022-03-02 14:47] devanshpratapsingh commented on #11
@yaswanthsaivendra @coding-geek21 can you please assign me to this issue. I'll add interesting animations using CSS and try to beautify the home page more.

[2022-03-02 15:25] prateekmohanty63 opened #23 "User signIn and login"
There seems to be some glitch in user sign in and login .
Password and confirm password are the same still the account is not getting created.

I will build the complete user registration and login feature in the backend and take care of all the glitches

Please assign me this issue under GSSOC22

[2022-03-02 15:30] sumanth2002629 commented on #13
I was also facing the same issue.

[2022-03-02 17:02] yaswanthsaivendra commented on #13
@chinmayparekh , You badly changed the versions in requirements without ensuring the compatibility . Now it's updated, hopefully this shouldn't be a problem now.

[2022-03-02 17:18] yaswanthsaivendra commented on #23
Yaa this isn't an expected behaviour. @coding-geek21 , Can you give some insights on this?
@prateekmohanty63 Anyway, for further proceedings with the project, the user registration has to be redefined . This time email is included (possibly with verification). If you can do that this will be assigned as `level3` issue under `GSSOC22` .

[2022-03-02 17:42] prateekmohanty63 commented on #23
Yeah sure assign me this .
I will do it

[2022-03-02 17:42] prateekmohanty63 commented on #23
@yaswanthsaivendra

[2022-03-02 18:00] #7 closed

[2022-03-02 20:39] Samridhi015 commented on #11
@coding-geek21 assign me this issue, I'll work on enhancing it

[2022-03-02 20:41] kaustav202 opened #24 "Add Code Of Conduct"
Need a code of conduct to ensure ethical behaviour and level playing field among contributors.

[2022-03-02 20:42] kaustav202 commented on #24
I can work on it @coding-geek21 @yaswanthsaivendra

[2022-03-02 23:31] abhinav2712 opened #25 "Enhancement of Navbar"
The navbar can be improved, it look odd here.I can improve the UI of that, please assign this issue under gssoc'22 and I would like to work on it

[2022-03-03 04:01] sumanth2002629 opened #26 "Issue in settings.py"
"python3 manage.py runserver" should run without any warnings.

It was showing warnings as shown in the attached file. They can be removed by adding the below line to settings.py

DEFAULT_AUTO_FIELD = 'django.db.models.BigAutoField'.
![issue](https://user-images.githubusercontent.com/76842817/156493517-d44d96ae-4d57-4674-aff6-cd2e201763df.png)

[2022-03-03 04:35] chinmayparekh opened #27 "Issue in nav bar,after signing "logged in as username" is not aligned with logout"
# Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

# Expected Behavior

Please describe the behavior you are expecting.

# Current Behavior

Wh

[2022-03-03 04:35] chinmayparekh opened #28 "Issue in nav bar,after signing "logged in as username" is not aligned with logout. I was thinking of making logged in as username a dropdown button and on hovering it,logout option would appear or we could have a user icon which on hovering gives the logout option"
# Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Expected Behavior

Please describe the behavior you are expecting.

# Current Behavior

Wh

[2022-03-03 04:38] #27 closed, assigned to nobody

[2022-03-03 04:43] #28 closed, assigned to nobody

[2022-03-03 06:48] yaswanthsaivendra commented on #26
@sumanth2002629 , Make sure you are using the correct `django` version. Currently we are using a version which is `3.0.x` . This should be a problem when we are using a version >=django 3.2 . So, a direct bump to version 3.2 or 4 considering all compatibility and changing the codebase accordingly could be considered as an `issue`.

[2022-03-03 09:55] coding-geek21 commented on #2
@kaustav202  It has been two days already but there is no update so I'm assigning someone else

[2022-03-03 09:56] coding-geek21 commented on #2
@shubhsardana29  Go ahead with this issue. Make sure that you complete by 1 day

[2022-03-03 10:00] coding-geek21 commented on #8
Can you explain briefly about this issue? @ShadabImran07

[2022-03-03 10:01] #9 closed

[2022-03-03 10:02] chinmayparekh commented on #12
Can I add basic animations in the cards in teacher homepage as part on enhancement. I will make it responsive.

[2022-03-03 10:03] coding-geek21 commented on #12
Yes go ahead

[2022-03-03 10:04] chinmayparekh commented on #12
okay, i will do it by tonight.

[2022-03-03 10:07] coding-geek21 commented on #22
Go ahead with this issue. Complete it within 2 days

[2022-03-03 10:13] kaustav202 commented on #2
Okay I was just about to push the changes. but it's ready btw in case you need it. : ) @coding-geek21

[2022-03-03 10:15] coding-geek21 commented on #2
Okay then make PR

[2022-03-03 10:30] coding-geek21 commented on #23
@prateekmohanty63  Hey that's actually because in sign up page we have interests as a mandatory field. So you have to update the subjects by adding one or two subjects in admin panel.. so follow these steps

-  create superuser
-  Go to admin panel
-  Under subjects table create one or more subjects (so it gets added to interests)
-  Try signing up now you wouldn't get any errors

As @yaswanthsaiv

[2022-03-03 10:36] kaustav202 commented on #2
Yes sure but would you like to tell me about some additional info or what is your vision regarding this so that I can fill in.
It is a all in one comprehensive virtual classroom project which is inspired from likes of google classroom right ?
@coding-geek21

[2022-03-03 10:36] prateekmohanty63 commented on #23
oh wow thanks @coding-geek21  for the information , i was kinda of confused cause when i saw in the deployed version signin was working fine , but not in my local machine.

Yeah I will add the email things . Thank you

[2022-03-03 10:43] coding-geek21 commented on #2
Yeah it's similar to google classroom but it has some extra features like options to create test in this platform as well as viewing results
Ultimate goals of this project would be something like Teams platform where we have seperate channels for each subjects.
View students , teachers
Creating profile for teachers and students
Students can attend tests, view results, submit assignments etc
Teache

[2022-03-03 10:51] kaustav202 commented on #2
Okay got it.

[2022-03-03 11:24] kaustav202 commented on #2
review the changes @coding-geek21

[2022-03-03 11:51] #2 closed

[2022-03-03 13:24] sumanth2002629 commented on #26
I will check this out later. If not possible I will close the issue.

[2022-03-03 14:03] sumanth2002629 opened #30 "No option to add a subject(channels feature)"
Teacher does not have an option to add a subject. As soon as teacher logs in, he/she should see the 4th option of adding a subject too.
Please assign this issue to me. I like to work on this.

[2022-03-03 14:04] Kritinp opened #31 "Enhancement of teachers quiz homepage"
This html file needs  to be restructured to make it more user-friendly
![Screenshot from 2022-03-03 19-33-36](https://user-images.githubusercontent.com/79003711/156580052-7aeeb673-1dd9-40a9-bd29-e37407455e02.png)

[2022-03-03 14:38] prateekmohanty63 commented on #23
@coding-geek21  I had one more doubt , like I have added the email field and taking it as input during registration.
Should I also send verification mail to user once the user has registered?

Like can you exactly define the requirements ?

[2022-03-03 14:40] prateekmohanty63 commented on #23
Or do i just send to check if the email being entered is correct?

[2022-03-03 14:44] coding-geek21 commented on #23
You have to send a User authentication link to the mail id specified by the user  so that they can confirm their account by clicking on the link they received
Once they confirm account will be created for them

[2022-03-03 14:45] coding-geek21 commented on #30
So you want to add an extra field ( subject ) for teachers right? In sign up page?

[2022-03-03 14:48] prateekmohanty63 commented on #23
ok cool got it , thanks

[2022-03-03 14:56] sumanth2002629 commented on #30
I want to add a subject, but not on the signup page. Because teacher may want to offer a new subject after signing up also. So adding a new subject should be visible along with the three other cards(create tests, create assignments, calendar) after the teacher logs in.

[2022-03-03 15:10] #12 closed

[2022-03-03 15:11] coding-geek21 commented on #30
@yaswanthsaivendra  What do you think?

[2022-03-03 16:37] #24 closed, assigned to kaustav202

[2022-03-03 16:37] sumanth2002629 commented on #30
Also, students should be able to select the subjects after logging in (If some teacher adds a new subject). These two I can implement.

[2022-03-03 16:50] yaswanthsaivendra commented on #30
@sumanth2002629 , We are currently redefining user authentication so as to achieve these as our next proceedings in our project. We need a way for teachers to create subjects and add only certain students to access those subjects. To be precise , we call this feature as `channels`(a channel is for a subject) which can be created by teachers and add certain students in them via sending links via ma

[2022-03-03 16:54] yaswanthsaivendra commented on #30
otherwise u may wait for a while until auth stuff get done and can proceed with this!!

[2022-03-03 17:25] codervivek5 commented on #11
i want to work on this issue. may you plz assign it me.

[2022-03-04 01:12] sumanth2002629 commented on #30
Yeah, then I will proceed once auth stuff is done.

[2022-03-04 04:03] coding-geek21 commented on #30
Ok then i will assign you

[2022-03-04 04:05] coding-geek21 commented on #11
@nikitadhona  Any updates?

[2022-03-04 04:08] #13 closed

[2022-03-04 04:08] #8 closed

[2022-03-04 04:11] nikitadhona commented on #11
I am not familiar with Django. So i am unable to update stuffs :( . You can assign it to someone else,till i figure out @coding-geek21

[2022-03-04 04:14] coding-geek21 commented on #11
@Kritinp Assigning you. Make sure you complete it within 2 days

[2022-03-04 04:40] prateekmohanty63 commented on #23
@coding-geek21  I have completed the thing
Here is the output
![image](https://user-images.githubusercontent.com/72243320/156700636-43a34627-04f8-4fdb-beba-c3780f6eb6d0.png)

[2022-03-04 04:41] prateekmohanty63 commented on #23
![image](https://user-images.githubusercontent.com/72243320/156700712-5a9c599b-baba-45b7-824a-b52ebb40e066.png)

[2022-03-04 04:46] coding-geek21 commented on #23
Ok @prateekmohanty63  make PR

[2022-03-04 04:47] prateekmohanty63 commented on #23
![image](https://user-images.githubusercontent.com/72243320/156I701121-991af3a9-44b0-467d-a925-a607cc420590.png)i I have hidden  my credentials , put your and it would work fine

[2022-03-04 04:47] prateekmohanty63 commented on #23
in setting.py

[2022-03-04 04:49] prateekmohanty63 commented on #23
@coding-geek21  which branch should I send a pr

[2022-03-04 04:51] coding-geek21 commented on #23
develop branch

[2022-03-04 05:07] prateekmohanty63 commented on #23
@coding-geek21 I have sent the pr
Please merge it
Thank you

[2022-03-04 06:25] truthfool opened #36 "[FEAT] Adding docker files for deployment"
- Adding docker files for ease of deployment

[2022-03-04 09:47] kaustav202 commented on #2
@coding-geek21 could you change the assignee for this issue..  will it effect gssoc22 count?

[2022-03-04 15:26] coding-geek21 commented on #25
any updates @abhinav2712

[2022-03-04 20:18] Kritinp commented on #11
Almost finished with it, also working on another issue.

[2022-03-05 01:40] HarshKumarChoudary commented on #25
I would like to work on this issue. I'm a GSSOC 22 participant. Please assign it to me, if this issue is not resolved till now. Thanks.

[2022-03-05 01:41] HarshKumarChoudary commented on #22
I would like to work on this issue. I'm a GSSOC 22 participant. Please assign it to me, if the issue is not resolved. Thanks.

[2022-03-05 02:23] coding-geek21 commented on #22
any updates? @iamtanya-22

[2022-03-05 03:09] iamtanya-22 commented on #22
@coding-geek21  Yes, I'm working on it and I'll complete it by today.

[2022-03-05 03:23] coding-geek21 commented on #25
@HarshKumarChoudary  Complete it within 2 days

[2022-03-05 04:51] Kritinp commented on #31
Pull request sent

[2022-03-05 06:20] Kritinp opened #38 "Making all pages related to teachers quiz/question dashboard uniform with changes made in issue #31"
![QuizDetails](https://user-images.githubusercontent.com/79003711/156870881-858d2577-6687-4c2d-8a2c-c6a73abef9f1.png)
Old Quiz Details Page

![QuizResults](https://user-images.githubusercontent.com/79003711/156870910-476366e8-02d5-4cdf-a110-5e9a555bc498.png)
Old Quiz Results Page

![QuizDelete](https://user-images.githubusercontent.com/79003711/156870917-c93eabb9-cc8f-4c1d-89c3-dd67591ba036.png)
O

[2022-03-05 06:24] Anish1411 commented on #25
I would like to work on this issue under GSSOC'22  , incase others are unable to resolve it

[2022-03-05 18:15] iamtanya-22 commented on #22
@coding-geek21  I'm finding some error in the code and still working on it so you can assign this issue to @HarshKumarChoudary .

[2022-03-05 18:51] Abhishek2408 opened #40 "Meta-generation failed"
Can anyone please help me to solve this issue? I'm getting this error while doing setup
![image](https://user-images.githubusercontent.com/87486132/156896363-673a85e2-d10b-4bf8-9653-d500b5aac10d.png)

[2022-03-06 04:03] coding-geek21 commented on #38
Go ahead @Kritinp

[2022-03-06 04:04] coding-geek21 commented on #38
Since you are enhancing many pages in one issue i will give you level 3 label

[2022-03-06 06:06] HarshKumarChoudary commented on #25
@coding-geek21 , I have enhanced the navbar code with CSS buttons  and gradient effects. Also I made navbar to move and stay sticky to header as user scrolls. Hope you will like it.

[2022-03-06 06:16] HarshKumarChoudary commented on #25
I created the PR #41 .
Please review it and merge it. Thanks.

[2022-03-06 07:05] HarshKumarChoudary commented on #40
I too faced this one. This means you have to install all the packages one by one.

[2022-03-06 08:48] Abhishek2408 commented on #40
@HarshKumarChoudary I tried but i think now it is showing python version issue.

[2022-03-06 09:45] yaswanthsaivendra commented on #40
What version of python u r using?? and what's your system os??

[2022-03-06 12:59] Abhishek2408 commented on #40
@yaswanthsaivendra i have solve that issue. but on my side student signup is not working!!!

[2022-03-06 13:20] yaswanthsaivendra commented on #40
@Abhishek2408 , refer https://github.com/coding-geek21/classDeck/issues/23#issuecomment-1057902257

[2022-03-06 13:36] Abhishek2408 commented on #40
@yaswanthsaivendra ya got it. Thanks

[2022-03-06 13:43] Abhishek2408 opened #42 "Contact Us Page"
I think contact us page is important for this type of site.If student or teacher is facing some sort of issue at that time they need contact us page.

[2022-03-06 13:43] Abhishek2408 commented on #42
Can u please assign role to me

[2022-03-06 13:44] Abhishek2408 opened #43 "Contact Us Page"
I think contact us page is important for this type of site.If student or teacher is facing some sort of issue at that time they need contact us page.

[2022-03-06 13:44] #43 closed, assigned to nobody

[2022-03-06 13:58] #23 closed

[2022-03-06 14:04] Abhishek2408 opened #44 "Enhancemnet of footer"
Footer is looking very simple. i want to make some changes in it like logo and some info of class deck and class deck social media handlers etc.

[2022-03-06 14:13] coding-geek21 commented on #30
Any updates? @sumanth2002629

[2022-03-06 14:15] coding-geek21 opened #45 "update Readme file"

[2022-03-06 14:18] chinmayparekh commented on #45
Can you assign this issue to me?

[2022-03-06 14:22] bhavyapathak20 commented on #44
@coding-geek21  I would like to contribute on this issue with @Abhishek2408. If it is okay?

[2022-03-06 14:23] bhavyapathak20 commented on #42
@coding-geek21 I would like to contribute with @Abhishek2408 in this project

[2022-03-06 14:25] coding-geek21 opened #46 "Add forgot password feature"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

## Define You

- [ ] GSSoC22 Participant
- [ ] Contributor

## Is your feature request rela

[2022-03-06 14:26] coding-geek21 commented on #44
Only one can work on the issue at a time. please look for some other issue

[2022-03-06 14:33] coding-geek21 opened #47 "Make the errors as alert message in signup page"
## Describe the bug

Currently the sign up page for teachers and students shows error as a bold change it to alert messages
![image](https://user-images.githubusercontent.com/53329034/156927595-d78691dd-2879-4156-962b-80c0551dc098.png)

## Steps to Reproduce

Steps to reproduce the behavior:

1.  Alert message should display if the error occurs
2.  It must be auto dismissable
3.  Remove all these

[2022-03-06 14:45] coding-geek21 opened #48 "Create previous and next button feature in quiz page"
## Is your feature request related to a problem? Please describe.

Currently we have only next button, on clicking next button it submits the answer and moves to next question
**Problem:** User is not able to move to previous or next question without answering the current question

## Describe the solution you'd like...

- You must make the previous and next button feature so that the user moves t

[2022-03-06 14:51] coding-geek21 opened #49 "Create timer for quiz"
## Is your feature request related to a problem? Please describe.

Create timer feature for quiz

## Approach to be followed (optional):

-  The quiz page should automatically exit if the time exceeds
-  Time left should be displayed and should be dynamically updating so that user can see it

## Additional context

Add any other context or screenshots about the feature request here.

## Screenshot

[2022-03-06 14:53] Abhishek2408 commented on #44
@bhavyapathak20 I'm already working on it

[2022-03-06 14:59] #26 closed, assigned to nobody

[2022-03-06 15:00] #40 closed, assigned to nobody

[2022-03-06 15:07] chinmayparekh commented on #47
Can I work on this from next week, I am busy this week?

[2022-03-06 15:07] chinmayparekh commented on #46
Can I work on this from next week, I am busy this week?

[2022-03-06 15:09] coding-geek21 commented on #46
Yeah

[2022-03-06 15:11] chinmayparekh commented on #46
Okay thanks

[2022-03-06 15:59] sumanth2002629 commented on #30
As suggested by @yaswanthsaivendra ,can I work on this after auth stuff is completed or else I will try to work on this from next weekend, I am a bit busy this week.

[2022-03-06 16:12] Abhishek2408 commented on #44
@coding-geek21 i have one doubt i haven't create branch before start editing so any suggestion what i have to do now??

[2022-03-06 16:16] Abhishek2408 commented on #44
@coding-geek21 if any suggestion please let me know
Before
![image](https://user-images.githubusercontent.com/87486132/156931572-c1040fdd-451f-4a9c-96ab-02f5f2bed23c.png)
After
![image](https://user-images.githubusercontent.com/87486132/156931541-37e4073f-9b30-4f17-bd6c-daa2f8463ba9.png)

[2022-03-06 16:28] coding-geek21 commented on #30
okay fine

[2022-03-06 16:42] chinmayparekh commented on #45
I understand that this issue was already resolved but I have elaborated on how to setup the .env file much better, could you just check it once?

[2022-03-06 16:46] coding-geek21 commented on #45
Yeah but that is not needed for contributors they just need to copy paste the template that's enough and all the libraries are already imported in settings.py so there is no work for contributors

[2022-03-06 16:47] chinmayparekh commented on #45
okay got it.

[2022-03-06 16:55] Harshil-Jani commented on #44
No issues. Unless and untill you do `git add .` your changes won't affect `[develop]` branch of your fork. So, before you write `git commit -m "anything" ` just do `git checkout -b <branch-name>`.

[2022-03-06 17:24] yaswanthsaivendra commented on #30
We are done with all main changes in auth stuff, U can proceed with this issue, when u find time .

[2022-03-06 17:26] #45 closed, assigned to chinmayparekh

[2022-03-07 04:07] m-a-rahul commented on #46
I am Rahul, GSSOC2022 Contributor. I have good knowledge about the basic structures of Django. I would like to take upon the _"Forgot Password"_ feature. I have shared my approach below, if you're satisfied assign it to me, I will deliver the attribute to your best suit.

### Approach

1. The solution includes the usage of the default **auth_views** package which comes with four URL endpoints that

[2022-03-07 04:40] HarshKumarChoudary commented on #25
I made some changes as requested to the PR. Please review it.

[2022-03-07 06:01] coding-geek21 commented on #46
Great go ahead with this issue!

[2022-03-07 08:56] Abh1shekSingh opened #56 "Better Login and SignUp Forms"
## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Is your feature request related to a problem? Please describe.

I want to design and develop better UI for Login and Logout Page.

[2022-03-07 08:56] Abh1shekSingh commented on #56
@coding-geek21  Please assign this issue to me. I can built The better UI UX design and also can develop it for login and logout page

[2022-03-07 12:32] coding-geek21 commented on #56
I can assign you this issue but can you also take this  issue #47  and work parallely?

[2022-03-07 13:16] Abh1shekSingh commented on #56
Okay, I ll take It.

On Mon, Mar 7, 2022, 6:03 PM Jayapritha N ***@***.***> wrote:

[2022-03-07 13:16] Abh1shekSingh commented on #56
But please give me some time also, cause I m working parallely with my
exams on

On Mon, Mar 7, 2022, 6:45 PM Abhishek Singh ***@***.***> wrote:

[2022-03-07 13:20] coding-geek21 commented on #56
yeah take time...  I'm assigning you

[2022-03-07 13:23] coding-geek21 commented on #56
@Abh1shekSingh  can you comment in this issue #47  so that i can assign you

[2022-03-07 13:39] #44 closed, assigned to Abhishek2408

[2022-03-07 13:46] HarshKumarChoudary commented on #49
HI, I would like to work on it. Please assign it to me.

[2022-03-07 15:03] Abh1shekSingh commented on #47
Hi, pls, assigned this issue to me

[2022-03-07 16:21] sripor62 commented on #48
Hii ! I would like to work on this .Can I be assigned !

[2022-03-07 16:44] HarshKumarChoudary commented on #25
I closed previously created PR #41 and recreated another PR #57 . Please review it. Thanks.

[2022-03-07 16:56] coding-geek21 commented on #48
Yes go ahead!

[2022-03-08 12:36] coding-geek21 commented on #11
@Kritinp  any updates?

[2022-03-08 12:37] coding-geek21 commented on #38
@Kritinp  any updates?

[2022-03-08 12:38] coding-geek21 commented on #42
@Abhishek2408  any updates?

[2022-03-08 12:59] Kritinp commented on #38
Almost done!

[2022-03-08 13:00] coding-geek21 commented on #36
As of now, I don't think it's so important. So I'm closing this issue

[2022-03-08 13:00] #36 closed, assigned to nobody

[2022-03-08 15:03] truthfool commented on #36
Any issues I can contribute to?

[2022-03-08 15:29] krithika2411 opened #59 "Enhance the footer"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ✔️] I am running the latest version
- [✔️ ] I checked the documentation and found no answer
- [ ✔️] I checked to make sure that this issue has not already been filed

## Define You

- [ ✔️] GSSoC22 Participant
- [✔️ ] Contributor

## Describe the bug
I

[2022-03-08 15:30] krithika2411 commented on #59
kindly please assign this issue under Gssoc'22.

[2022-03-08 15:46] codervivek5 commented on #11
I want to work on this issue..plz assign me

[2022-03-08 16:57] Abhishek2408 commented on #42
@coding-geek21 done with front end part.do i have to make backed too??

[2022-03-08 17:13] Abhishek2408 commented on #42
@coding-geek21 and i have one more doubt like i have to create 2 diff pages for both teacher and student or 1 single page in which we can give radio button??

[2022-03-08 17:41] coding-geek21 commented on #42
One Single page is enough. If you do backend i will make this issue as level3

[2022-03-08 17:42] Abhishek2408 commented on #42
@coding-geek21 @bhavyapathak20 i have register properly in teachers section but when I'm trying to login using that credentials it is either showing me csrf token is missing(but it is present over there) or invalid credentials

[2022-03-08 17:43] coding-geek21 commented on #59
Footer is already there right @krithika2411. Do you want to enhance it?

[2022-03-08 17:44] coding-geek21 commented on #42
Can you show the screenshot?

[2022-03-08 17:46] krithika2411 commented on #59
Yes , i would like to add more info in it.

[2022-03-08 17:47] coding-geek21 commented on #59
can you tell briefly? and also please update your forked repo by doing `git pull`

[2022-03-08 17:54] Abhishek2408 commented on #42
@coding-geek21 of  which??

[2022-03-08 17:56] coding-geek21 commented on #42
Error

[2022-03-08 18:05] Abhishek2408 commented on #42
@coding-geek21
![image](https://user-images.githubusercontent.com/87486132/157298052-5d0cf8ce-cdd6-40bd-bc0f-b07dbade6a53.png)
![image](https://user-images.githubusercontent.com/87486132/157298556-38577189-cc1b-499c-a4d9-4e955ca483f9.png)
![image](https://user-images.githubusercontent.com/87486132/157298645-fc13255d-a34e-4bed-8d57-c65639256b5b.png)

[2022-03-08 20:32] krithika2411 commented on #59
i would like to add the contact details like social media handles and address or phone number , class deck logo a little bit about it  and redirect navbar items like faqs

[2022-03-08 20:33] krithika2411 commented on #59
@coding-geek21 can i start working on this , kindly assign me this under GSSOC'22

[2022-03-09 02:26] coding-geek21 commented on #59
![image](https://user-images.githubusercontent.com/53329034/157360569-16b07f17-1e7c-4993-b749-afa362211d7d.png)
 this is how it looks now you can still enhance  it

[2022-03-09 02:28] coding-geek21 commented on #42
@Abhishek2408  do `git pull` in your git bash because your repo is not updated with base repo

[2022-03-09 02:34] #46 closed, assigned to m-a-rahul

[2022-03-09 02:49] coding-geek21 opened #60 "Switching to questions on clicking the question no in quiz page"
## Is your feature request related to a problem? Please describe.

Currently in our quiz page we can only move to next question after finishing the current question but what if the student want to attend or switch to some other question?

## Describe the solution you'd like...

we should create a grid with all question number, when the student clicks on the question number it should automatically

[2022-03-09 02:57] coding-geek21 commented on #36
check #60 or you yourself can create any issues @truthfool

[2022-03-09 04:18] neelam4 commented on #60
Hi, I'm interested in resolving this issue. Can I please be assigned this? @coding-geek21

[2022-03-09 04:25] truthfool commented on #36
okay
Thanks for your response.
I'll describe the solution and make a PR.

[2022-03-09 06:40] truthfool opened #61 "Changes in readme file"
## Define You

- [ YES] GSSoC22 Participant
- [ YES] Contributor

## Describe the bug
Following the steps of readme caused errors as environment variable has to be created before making migrations. In the current readme step 12 has to follow before step 10.

## Steps to Reproduce
Following the steps for installation in a serial manner.

## Expected Behavior
It should install successfully following

[2022-03-09 07:04] Abhishek2408 commented on #42
@coding-geek21 what i have done is deleted everything on local machine and do all the process newly after that teacher registration and login is working fine but student side is not working

[2022-03-09 13:36] ayush-sleeping opened #63 "Readme Update"
## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Is your feature request related to a problem? Please describe.

The Readme section is not that much responsive and Powerful .

## Describe the solution you'd like...

Want to make it more responsive and up to date , Also new features to make the readme section of this Repo. more Systematic.

#

The features , I want to add are

1. Add

[2022-03-09 13:43] #61 closed, assigned to truthfool

[2022-03-09 13:50] coding-geek21 commented on #42
@Abhishek2408
Your repo is behind commits so first do fetch upstream
![image](https://user-images.githubusercontent.com/53329034/157454214-e308527c-4e05-4f64-bd7b-a00e10441d68.png)

- you can see this one option in your forked repository, Click on the fetch upstream option
- In your local machine open git bash and do `git pull`

Try this if it's not working reach out to me...  Actual Code is actua

[2022-03-10 16:53] coding-geek21 commented on #59
@krithika2411  Any updates?

[2022-03-10 16:54] coding-geek21 commented on #48
@sripor62 Any updates??

[2022-03-10 16:54] coding-geek21 commented on #42
@Abhishek2408 Any updates?

[2022-03-10 16:55] krithika2411 commented on #59
Working on it . I am  traveling today n tomorrow.  Can i send pr on Saturday

[2022-03-11 06:29] Abh1shekSingh commented on #47
So now my exams are over... I have started working on this issue

On Mon, Mar 7, 2022, 10:27 PM Jayapritha N ***@***.***> wrote:

[2022-03-11 14:08] coding-geek21 commented on #47
Why did you remove your assignment? @Abh1shekSingh

[2022-03-11 14:11] #63 closed, assigned to ayush-sleeping

[2022-03-11 14:17] coding-geek21 commented on #56
Why did you close this issue?

[2022-03-11 17:58] Abhishek2408 commented on #42
@coding-geek21 sorry actually my exams are going on.

[2022-03-12 17:40] chinmayilondhe commented on #47
Hi, Can I work on this issue? If yes, Please assign it to me.

[2022-03-12 17:48] Abhishek2408 commented on #42
@coding-geek21 sorry i have tried everything but still not able to solve the issue of "signup part of student side"
and also as u mention I'm not able to see list of subjects too
![image](https://user-images.githubusercontent.com/87486132/158028903-14bd608a-9af6-4005-870a-3d12c1494e54.png)

[2022-03-12 17:52] Abhishek2408 commented on #42
@coding-geek21 can u please confirm from some if that part is working or not?

[2022-03-13 07:43] coding-geek21 commented on #42
@yaswanthsaivendra Can you help @Abhishek2408 with this issue?

[2022-03-13 09:29] MitAbhay commented on #56
@coding-geek21  hey, can you assign it to me, if no one is currently on this?

[2022-03-13 09:32] MitAbhay commented on #22
@coding-geek21  I think this issue is still pending, can I go through this ??

[2022-03-13 09:38] MitAbhay commented on #59
@coding-geek21  I would like to complete this, Can you assign this to me ?

[2022-03-13 09:50] HarshKumarChoudary commented on #22
yes, Sorry I was busy with some College works. You can go ahead with it. @coding-geek21  please unassign me. Thanks.

[2022-03-13 10:19] coding-geek21 commented on #59
@krithika2411 Any updates?  It's almost 4 days if you are not making PR by today i will assign  @MitAbhay

[2022-03-13 10:22] coding-geek21 commented on #22
Since you were assigned #56 and this is almost the same issue.. I'm closing this

[2022-03-13 10:22] #22 closed

[2022-03-13 10:24] coding-geek21 commented on #11
@Kritinp When are you gonna make PR? any updates?

[2022-03-13 10:24] coding-geek21 commented on #30
@sumanth2002629 Any updates?

[2022-03-13 10:24] coding-geek21 commented on #31
@Kritinp Any updates?

[2022-03-13 10:25] coding-geek21 commented on #38
@Kritinp  Any updates? when will you make PR?

[2022-03-13 10:26] coding-geek21 commented on #48
@sripor62 Any updates?

[2022-03-13 10:26] coding-geek21 commented on #49
@HarshKumarChoudary any update?

[2022-03-13 10:27] coding-geek21 commented on #60
@neelam4 any updates?

[2022-03-13 10:31] HarshKumarChoudary commented on #49
Ya I'm working on it. Hope to create a PR by tomorrow.

[2022-03-13 12:03] krithika2411 commented on #59
Really sorry @coding-geek21 still traveling u can unassigned me . And sorry for the inconvenience.

[2022-03-13 15:16] #25 closed, assigned to HarshKumarChoudary

[2022-03-13 15:24] Kritinp commented on #38
Will finish it tonight

[2022-03-13 16:06] sumanth2002629 commented on #30
Yes,i have started working on it.It will be done in 3-4 days. Sorry for the delay.

[2022-03-13 19:19] Kritinp commented on #38
I have fixed this issue by updating the existing PR.

[2022-03-13 19:20] Kritinp commented on #11
I have fixed this issue by updating the existing PR.

[2022-03-14 01:38] coding-geek21 commented on #42
Hey that's actually because in sign up page we have interests as a mandatory field. So you have to update the subjects by adding one or two subjects in admin panel.. so follow these steps

-  create superuser
-  Go to admin panel
-  Under subjects table create one or more subjects (so it gets added to interests)
-  Try signing up now you wouldn't get any errors

[2022-03-14 01:40] coding-geek21 commented on #42
So you have issue in sign up part only right? you can follow what i have said above

[2022-03-14 01:49] #31 closed, assigned to Kritinp

[2022-03-14 01:49] #38 closed, assigned to Kritinp

[2022-03-14 01:54] coding-geek21 opened #65 "Make all the pages related to teachers responsive"
## Describe the bug

![image](https://user-images.githubusercontent.com/53329034/158091263-46461ab5-0ef2-44ee-a869-8f695f88b821.png)

All pages related to teachers look unresponsive in mobile view

## Steps to Reproduce

Files to be made responsive :

- All files inside `classroom/templates/classroom/teachers` folder except teachers_home.html

## Expected Behavior

Make it responsive

[2022-03-14 06:46] neelam4 commented on #60
Currently working on it, I'm having an issue in the setup with "Setting up SECRET_KEY environment variable". Can you please help me out?

[2022-03-14 13:47] coding-geek21 commented on #60
Can you show me the error you are getting? @neelam4

Did you change the env_template to env file as said in README ?

[2022-03-14 13:50] coding-geek21 commented on #11
@Kritinp Did you enhance the home page?

[2022-03-14 14:30] nitishsaini706 commented on #65
@coding-geek21 I would like to work on this issue

[2022-03-14 16:24] coding-geek21 commented on #11
Anyone willing to work on this issue? comment so that i can assign you

[2022-03-14 16:39] Kritinp commented on #11
Yeah, I added smooth scrolling and fixed some issues with mobile compatability. This was also included in the PR

[2022-03-14 16:51] coding-geek21 commented on #11
Okay fine.. But anyway still the Home page can be improved by adding some js effects cards with more details about the website so I need someone to work on the homepage

[2022-03-14 16:59] Abhishek2408 commented on #42
@coding-geek21 ya Thanks now its working properly.

[2022-03-14 17:19] Abhishek2408 commented on #42
@coding-geek21 sorry actually I'm not able to understand back-end code that much effectively.
this is front end which i have made. i think i can only help you in enhancement of your fronted.
![image](https://user-images.githubusercontent.com/87486132/158225569-eba5d122-df8a-4f14-9b60-4bbbcb7f9d4f.png)

[2022-03-15 00:02] coding-geek21 commented on #42
Looks Great! make PR

[2022-03-15 02:29] kaustav202 commented on #11
Let me work on it @coding-geek21

[2022-03-15 11:57] coding-geek21 commented on #11
Go ahead @kaustav202

[2022-03-15 11:57] neelam4 commented on #60
I'm having problem in logging in as student in local system, it is showing invalid credentials. Because of this, I'm unable to see the UI after changing the HTML code in taken_quiz_form.html .  Please help me with this.

[2022-03-15 11:58] coding-geek21 commented on #60
Did you signup and confirm your authentication mail? for student account @neelam4

[2022-03-15 12:04] #42 closed, assigned to Abhishek2408

[2022-03-15 13:11] neelam4 commented on #60
I'm not getting any authentication mail, while running the webapp locally for student account.

[2022-03-15 15:48] m-a-rahul commented on #48
Hi! I'm interested to work on it! Could you assign it to me?

[2022-03-16 02:13] coding-geek21 commented on #48
Go ahead @m-a-rahul

[2022-03-16 02:14] coding-geek21 commented on #60
You should be getting it @neelam4 did you change the env_template to .env file ? And also enter a valid existing mail id

[2022-03-16 02:16] coding-geek21 commented on #60
Also check the comment in #23 issue you would get idea

[2022-03-16 17:10] sumanth2002629 commented on #30
Sorry for the inconvenience, but something unexpected came up today. I guess I can't work on this issue so kindly assign this issue to others.

[2022-03-17 12:31] Ashsenior opened #68 "Page for creating and managing assignments"
## Define You

- [x] GSSoC22 Participant
- [ ] Contributor

## Is your feature request related to a problem? Please describe.

No page for creating , posting and managing  assignments .

## Describe the solution you'd like...

I will create a page where teachers will create assignments , upload documents and a email notification system for students about the assignments. Teachers will be able to u

[2022-03-17 12:33] Ashsenior commented on #68
Want me to work on it ??

[2022-03-18 11:13] m-a-rahul commented on #48
Hey @coding-geek21

I met with the challenge while customising this feature and I want your help with that. First of all, I will share my progress.

### Progress
1. Added two buttons namely, `PREVIOUS` and `NEXT` which has been even validated against boundary conditions.
2. Along with that I've added the dashboard that displays a range of numbers according to the total no of questions in the quiz.

[2022-03-18 12:11] coding-geek21 commented on #48
Yeah i got the point.. you can update the quiz in such a way that you can take the options (4 options) in Quiz table itself so you need to update the models for which you can create another level3 issue and work on it after working on that you can come here make changes and make PR @m-a-rahul

[2022-03-18 12:13] coding-geek21 commented on #56
@MitAbhay Any updates?

[2022-03-18 12:15] m-a-rahul commented on #48
Thanks for acknowledging the query will follow the instructions provided and get back to you once I am complete @coding-geek21

[2022-03-18 12:58] m-a-rahul opened #69 "Relational aspect between Questions and Answers table for Quiz"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Describe the bug

Relation b

[2022-03-18 13:00] m-a-rahul commented on #69
As we've discussed I've created a new issue corresponding to the challenges discussed. Kindly assign it to me and I will try to deliver it at the best calibre.

[2022-03-18 16:24] MitAbhay commented on #56
Sorry but actually, I am busy for some days ..... so I have no idea right now what I have done in this till now..... may it take more time.
you can unassign me.

[2022-03-18 16:49] m-a-rahul commented on #48
Hey, I've actually customised the functionality without creating that new direct relation between the table and created the pull request. Try going through the changes at your convenience, if it meets your expectations then we can cancel the new issue  #69 created.

[2022-03-18 19:09] 11062000 commented on #59
I would like to work on this issue kindly see if anything can happen

[2022-03-19 05:46] 11062000 commented on #56
I would to work on this issue but as I have my exam tomorrow so can I start working on this after 21?

[2022-03-19 07:33] Phalak-Sharma opened #71 "Selection of account type and its title"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Define You

- [X] GSSoC22 Participant
- [X] Contributor

## Describe the bug
Selection o

[2022-03-21 01:49] coding-geek21 commented on #11
@kaustav202 Any updates??

[2022-03-21 01:50] coding-geek21 commented on #47
@chinmayilondhe Any updates? it has been too long

[2022-03-21 01:51] coding-geek21 commented on #49
@HarshKumarChoudary When will you make PR? are you working on this?

[2022-03-21 01:52] coding-geek21 commented on #65
@nitishsaini706 any Updates?

[2022-03-21 01:53] coding-geek21 commented on #68
@Ashsenior Any updates?

[2022-03-21 02:09] #48 closed, assigned to m-a-rahul

[2022-03-21 02:09] #60 closed, assigned to neelam4

[2022-03-21 02:09] #69 closed, assigned to m-a-rahul

[2022-03-21 03:02] HarshKumarChoudary commented on #49
@coding-geek21  sorry, I got busy with exams and holidays. I will make PR soon.

[2022-03-21 03:25] nitishsaini706 commented on #65
@coding-geek21 yes, I've fixed the issue but when I reduce screen size to a little smaller width I, it's causing same issue, I'll fix it by today and raise a pr

[2022-03-21 04:00] chinmayilondhe commented on #47
I'm working on it. Will create a PR by tomorrow.

[2022-03-21 04:00] Ashsenior commented on #68
Yeah , I have created all the required models and add assignment feature for teachers . Today I'm going to make the student side of the feature .

[2022-03-21 10:00] nitishsaini706 commented on #65
@coding-geek21 I need your help, ping me on discord , I cannot continue without your help

[2022-03-21 14:57] kaustav202 commented on #11
It'll be done by wed @coding-geek21

[2022-03-22 02:17] coding-geek21 commented on #65
@nitishsaini706 Ping me on discord or in our project channel. I will help you

[2022-03-22 02:19] coding-geek21 commented on #59
@11062000 any updates?

[2022-03-22 02:19] coding-geek21 commented on #56
@11062000 any updates?

[2022-03-22 02:58] nitishsaini706 commented on #65
@coding-geek21 I've been trying to contact since last week

[2022-03-22 09:52] coding-geek21 commented on #65
Ok what is your discord username?

[2022-03-22 10:43] nitishsaini706 commented on #65
![Uploading 16479457777121332386460901577.jpg…]()

[2022-03-22 17:55] m-a-rahul commented on #30
Hey @coding-geek21! I would like to take up this issue... Could you assign it to me?

[2022-03-23 09:50] dvlsatya commented on #59
can you assign this to me?

[2022-03-23 09:53] dvlsatya commented on #59
@krithika2411 can you please assign this to me?

[2022-03-25 05:15] sahilg861907 commented on #49
hello @coding-geek21 , if it's not done yet, can you please assign it to me? I'm very excited to take up this task! also I think Harsh is busy with his exams and Holidays , so please assign it to me since I m ready to contribute on this issue under GSSOC'22.

[2022-03-25 11:29] mahiiverse1 opened #72 "Improving UI of the Student Home page"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [ ] Contributor

## Is your feature request rela

[2022-03-28 10:33] Ashsenior commented on #68
I have created a PR please check . @coding-geek21

[2022-03-29 12:48] coding-geek21 commented on #72
can you update your forked repo... Because your screenshot displays old webpage.. It was updated recently so to view it please do git pull and update your repo

[2022-03-30 13:15] mahiiverse1 commented on #72
just did, kindly check

[2022-03-30 13:54] coding-geek21 commented on #72
Ok enhance the page accordingly

[2022-04-01 09:55] Supriya2922 opened #74 "Make the Navbar Responsive"
I would like to make the navbar responsive by adding hambuger menu for small mobile screen.
Please assign me this issue.
GSSoC contributor.

[2022-04-01 16:16] coding-geek21 commented on #11
Any updates @kaustav202

[2022-04-02 12:56] Abhishek2408 commented on #56
@coding-geek21 can u please assign role to me

[2022-04-02 17:50] dvlsatya commented on #49
can you assign this to me?

[2022-04-02 17:59] dvlsatya commented on #11
I want to work on this issue. can you please assign me?

[2022-04-02 18:02] dvlsatya opened #75 "want to improve content in about section"
I am Gssoc contributor.
I would like to add more content in the about section and improve the homepage.
can you assign this to me?

[2022-04-07 07:33] SwathiReddy03 opened #77 "Add a button that toggles the view of the password on the login and sign-up pages"
I am a GSSoC22 Contributor

I would like to add a button that toggles the view of the password (show/hide) on the login and sign-up pages so that the person who entered the password can recheck it.

![image](https://user-images.githubusercontent.com/98385147/162144847-63589bf8-36cc-4569-aea1-9688e6c7208c.png)
![image](https://user-images.githubusercontent.com/98385147/162144863-19821103-4176-4783-

[2022-04-08 06:48] mahiiverse1 commented on #72
@coding-geek21 Hi so sorry to say I actually wasn't able to work on the project bcoz my exams came up and I dont think I would be able to contribute to this now. Really sorry for this, please unassign me.

[2022-04-10 09:03] Geetanjaligupta123 opened #78 "Glowing Button Effects"
I want to add glowing effects in all  the Buttons which make this website more attractive

![Screenshot (20)_LI](https://user-images.githubusercontent.com/100347557/162610863-ac34df80-b9a9-42f3-b6c0-7c403e95935c.jpg)
.

[2022-04-14 01:08] Rhydham2809 opened #79 "Adding titling effects to the image present in about section"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Is your feature request rela

[2022-04-14 03:48] #74 closed, assigned to Supriya2922

[2022-04-14 04:14] coding-geek21 commented on #11
@dvlsatya  any updates?

[2022-04-14 04:15] coding-geek21 commented on #47
@chinmayilondhe Are you working on this? Any updates?

[2022-04-14 04:16] coding-geek21 commented on #49
@dvlsatya any updates??

[2022-04-14 04:17] coding-geek21 commented on #56
@Abhishek2408  Any updates?

[2022-04-14 04:17] coding-geek21 commented on #59
@11062000 any updates?

[2022-04-14 04:18] coding-geek21 commented on #65
@nitishsaini706 any updates?

[2022-04-14 04:18] coding-geek21 commented on #71
@Phalak-Sharma any updates?

[2022-04-14 04:18] coding-geek21 commented on #72
@mahiiverse1  any updates?

[2022-04-14 04:19] coding-geek21 commented on #75
@dvlsatya any updates?

[2022-04-14 04:19] coding-geek21 commented on #77
@SwathiReddy03 any updates?

[2022-04-14 04:29] coding-geek21 commented on #30
@m-a-rahul  would you like to work on it?

[2022-04-14 04:40] Supriya29-dev commented on #72
Hey! I would like to work on this. Please assign me this issue if @mahiiverse1 isn't working on it.

[2022-04-14 04:45] Supriya2922 commented on #72
Hey! I would like to work on this issue. Please assign me  this issue as a GSSoC contributor.

[2022-04-14 04:52] SwathiReddy03 commented on #77
hey
it was delayed due to exams
I am working on it
will finish by tomorrow

[2022-04-14 05:07] nitishsaini706 commented on #65
I can't install the project coz of dependencies problem, so I'm not able to work on it and no one helped me in groups so

[2022-04-14 05:15] mahiiverse1 commented on #72
Hey, no I don't think I will be able to work on this issue for now, please feel free to assign it to someone else. Sorry for the inconvenience!

[2022-04-14 05:15] dvlsatya commented on #59
I am having exams, I will complete within 3 days.

[2022-04-14 05:42] coding-geek21 commented on #65
hey can you ping me in discord (username : Jayapritha N | PA | ClassDeck)
See here I couldn't see that image which you sent
![image](https://user-images.githubusercontent.com/53329034/163320210-c165759e-e8ee-46d9-864c-e4f10397e35f.png)

[2022-04-14 05:43] coding-geek21 commented on #65
@yaswanthsaivendra Can you help @nitishsaini706 ??

[2022-04-14 07:06] nitishsaini706 commented on #65
Will ping you after my classes

[2022-04-14 08:34] Ashsenior opened #80 "Remarks form & checked status not working"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Describe the bug

A clear an

[2022-04-14 08:34] Ashsenior commented on #80
Hey , @coding-geek21 please assign me this issue .

[2022-04-14 09:03] yaswanthsaivendra commented on #65
Yeah sure!!

[2022-04-14 10:35] #68 closed, assigned to Ashsenior

[2022-04-14 13:50] m-a-rahul commented on #30
Yea, I would like to work on it! Kindly reassign the task I will deliver it asap

[2022-04-14 17:45] coding-geek21 commented on #72
I'm assigning you @Supriya2922

[2022-04-15 07:14] Areebah03 opened #82 "Smooth scroll"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Is your feature request rela

[2022-04-16 03:29] Abh1shekSingh commented on #56
@coding-geek21  assign it to me. I m ready to finish this task.

[2022-04-16 04:42] #82 closed, assigned to Areebah03

[2022-04-16 05:25] Abh1shekSingh commented on #56
Hey I will not able do do this. as i am not getting how will I run this on my local system. I am getting alot many errors even after following the run steps

[2022-04-17 03:51] #30 closed, assigned to m-a-rahul

[2022-04-18 08:58] #77 closed, assigned to SwathiReddy03

[2022-04-21 14:40] #79 closed, assigned to nobody

[2022-04-22 06:24] Ashsenior commented on #80
hey @yaswanthsaivendra , @coding-geek21 please remove the **bug** tag . And i have fixed the issue and added **delete** assignment function to it also . Will make a PR very soon .

[2022-04-22 10:36] yaswanthsaivendra commented on #56
Hey @Abh1shekSingh , Post a screenshot of the errors here or on the discord server , we would love to help u out!!

[2022-04-22 10:52] yaswanthsaivendra commented on #72
@Supriya2922 , Are you working on this??

[2022-04-22 11:39] Kanika637 commented on #75
I would like to work on this issue under GSSOC 2022 @coding-geek21

[2022-04-24 16:46] dee-ksha opened #86 "Improvement in UI of landing page"
Hey, I am a GSSoc'22 participant. I would like to make some improvements in the UI of the landing page like improving the navbar and making it stick to the top so even when the user scrolls, the navbar with login and signup form is always visible. I also want to enhance the footer and the about section. Please assign this issue to me.

<img width="938" alt="ss9" src="https://user-images.githubuser

[2022-04-24 16:49] #59 closed, assigned to nobody

[2022-04-24 16:50] coding-geek21 commented on #75
@Kanika637 Any updates?

[2022-04-24 16:50] coding-geek21 commented on #65
@nitishsaini706 any updates?

[2022-04-24 16:51] coding-geek21 commented on #72
@Supriya2922 Any updates??

[2022-04-24 16:52] coding-geek21 commented on #78
@geetanjali2001 are you working on this issue? why no updates?

[2022-04-24 18:48] Geetanjaligupta123 commented on #78
yes, I am working on this issue.

[2022-04-25 11:48] Kanika637 commented on #75
Actually the command `pip install -r requirements.txt` is giving me some errors, so I am trying to figure that out. @coding-geek21

[2022-04-25 13:47] coding-geek21 commented on #75
If you feel any difficulties ping me in discord

[2022-04-25 13:50] #80 closed, assigned to Ashsenior

[2022-04-25 13:51] coding-geek21 commented on #78
Ok make PR soon

[2022-04-25 14:43] Kanika637 commented on #75
Okay @coding-geek21

[2022-04-26 15:11] Ashsenior commented on #49
Hey , @coding-geek21 please assign this issue to me .

[2022-04-26 18:53] rashita79 opened #87 "account sign up page"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ✔️] I am running the latest version
- [ ✔️] I checked the documentation and found no answer
- [ ✔️] I checked to make sure that this issue has not already been filed

## Define You

- [ ✔️] GSSoC22 Participant
- [✔️ ] Contributor

## Describe the bug

[2022-04-26 18:55] rashita79 commented on #87
/assign

[2022-04-27 00:32] coding-geek21 commented on #87
I don't think that adding a button would be nice. Better you can enhance this page maybe by enhancing the borders of the image adding some box shadows would be better. If you wish to work comment on #71

[2022-04-27 00:33] #87 closed, assigned to nobody

[2022-04-27 00:35] coding-geek21 commented on #86
Any updates @dee-ksha

[2022-04-27 00:36] coding-geek21 commented on #78
Did you complete this issue? how much time will you take for completing this level 1 issue? @geetanjali2001

[2022-04-27 00:36] coding-geek21 commented on #75
Any updates ?

[2022-04-27 04:32] dee-ksha commented on #86
I'm currently working on it ma'am. I will share the information about it soon and also join the discord channel for this project.

[2022-04-27 05:04] rashita79 commented on #71
assign me
/assign

[2022-04-27 05:04] rashita79 commented on #87
I wish to work .

[2022-04-27 05:37] Kanika637 commented on #75
How can I contact you on discord?

[2022-04-27 12:16] coding-geek21 commented on #86
Fine

[2022-04-27 12:24] coding-geek21 commented on #75
Try to join the discord channel for our project (ClassDeck)
You can ping me in discord
![image](https://user-images.githubusercontent.com/53329034/165517055-b6b180e9-8009-4052-a50f-268b81fc83be.png)

You can also contact mentors.. Their  username are  @Jatin Kumar Singh | Mentor |C   and   @Yaswanth Sai Vendra| Mentor

[2022-04-27 14:36] Geetanjaligupta123 commented on #78
I'll complete it by 3 days.

[2022-04-29 11:22] DeveloperAshish8 opened #88 "Want to add navbar containing Home, about , Login and sign up buttons."
## Prerequisites

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Define You

- [X] GSSoC22 Participant
- [X] Contributor

## Is your feature request related to a problem? Please describe.

This will provide a better UI Experience and also makes the website responsible and easily

[2022-04-29 17:01] aaryahjolia opened #89 "To improve on hover effects of button"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Is your feature request rela

[2022-04-30 03:46] coding-geek21 commented on #88
Everything is already there so I'm closing this issue. There is no need of adding about button

[2022-04-30 03:46] #88 closed, assigned to nobody

[2022-04-30 03:47] coding-geek21 commented on #89
I hope #78 is the same as this issue. You comment there if you are interested to work in #78. I'm closing this issue

[2022-04-30 03:47] #89 closed, assigned to nobody

[2022-04-30 03:54] aaryahjolia commented on #78
Can I work on this ?

[2022-04-30 11:20] nikhil25803 opened #92 "Want to add login with google feature"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [ ] GSSoC22 Participant
- [x] Contributor

## Describe the solution you'd

[2022-04-30 21:10] Ashish4321-hub opened #93 "Readme file doesn't have screenshot of project"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version. - yes
- [ ] I checked to make sure that this issue has not already been filed

## Define You

- [ ] GSSoC22 participant yes

It helps to contributor to understand the project.So i want to add screenshot of project

[2022-05-01 07:07] Ashsenior opened #94 "Calendar Feature for teachers"
## Define You

- [x] GSSoC22 Participant
- [x] Contributor

This feature will keep the records of upcoming events or past events for a teacher like : meetings , GD's, Classes , Quizes, and Assignment deadlines . You can add or remove events from each dates .

@coding-geek21 Please assign this to me and review my previous PR.

[2022-05-01 12:40] nikhil25803 commented on #92
Thank You, On it :)
How can I connect with you in case I need to ask anything regarding this issue? Can I use LinkedIn for this?

[2022-05-01 12:41] coding-geek21 commented on #92
Yes of course
This is my profile https://www.linkedin.com/in/jayapritha-n-32aa79185/

[2022-05-01 12:43] nikhil25803 commented on #92
Thanks !

[2022-05-01 16:19] Ashish4321-hub commented on #93
the screenshots which are added to README file
![classdeck](https://user-images.githubusercontent.com/88235823/166154261-b031e2f6-f031-4ab9-a68a-db23882dff4c.PNG)
![clasdeck](https://user-images.githubusercontent.com/88235823/166154268-c43ce3fb-ad14-4864-ba42-39b4c1015962.PNG)
![classdeck1](https://user-images.githubusercontent.com/88235823/166154282-068680ee-b23f-4b00-987e-51add22ffbc8.PNG)
![cla

[2022-05-02 00:52] #49 closed, assigned to Ashsenior

[2022-05-02 13:38] #93 closed, assigned to Ashish4321-hub

[2022-05-02 16:34] #78 closed, assigned to aaryahjolia

[2022-05-09 07:24] Abhilasha-Jairath commented on #72
I'm a GSSoC'22 contributor. I can work on this issue. Kindly assign this to me.

[2022-05-09 16:16] Abhilasha-Jairath commented on #72
On it !! ✌️👍🏻

[2022-05-15 07:54] #94 closed, assigned to Ashsenior

[2022-05-15 18:26] nik132-eng commented on #11
if this issue is still open I want to work on this issue. can you please assign me this issue? for GSSoC

[2022-05-15 18:40] nik132-eng opened #100 "improve Text and UI"
## Prerequisites
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Define You

- [X] GSSoC22 Participant
- [X] Contributor

## Is your feature request related to a problem? Please describe.
there is better text available in the market so I can change it all.

A clear and concise de

[2022-05-15 18:40] nik132-eng commented on #100
please assign me this issue so i can work on this

[2022-05-18 17:11] navyasharma0203 commented on #100
Can I work on this issue??

[2022-05-18 17:12] navyasharma0203 commented on #86
If the issue isn't closed, can I work on this??

[2022-05-18 17:14] navyasharma0203 commented on #65
If this issue isn't closed....can I work on this??

[2022-05-18 17:44] nikhil25803 commented on #92
Hi @coding-geek21 can I get your Discord Id? So that I can contact you if needed

[2022-05-19 00:51] coding-geek21 commented on #86
You can work on this

[2022-05-19 00:52] coding-geek21 commented on #100
@nik132-eng Any updates?

[2022-05-19 02:35] jatinkr1405 commented on #65
Currently my exams are going so I won't be able to do it.

On Thu, May 19, 2022, 6:20 AM Jayapritha N ***@***.***> wrote:

[2022-05-19 06:06] nik132-eng commented on #100
![image](https://user-images.githubusercontent.com/77881638/169221882-f6a06465-6b8e-472e-98f2-aba13b899ad4.png)

Sorry 😓

[2022-05-20 03:01] nik132-eng commented on #100
in my opinion, you have to give some guidance and time to beginners.

no worries thank you for your time @coding-geek21

[2022-05-20 08:03] coding-geek21 commented on #100
Yeah but this is not beginner level project and this is completely different from java.. So you have to first learn django if you want to contribute to it and if you are familiar with html and css. then you can contribute on that part @nik132-eng

[2022-05-22 19:48] Kanika2772002 commented on #11
Hey @coding-geek21 can you please assign this task to me?

[2022-05-23 14:51] Kanika2772002 commented on #11
Ok

On Mon, May 23, 2022, 7:23 PM Jayapritha N ***@***.***> wrote:

[2022-05-28 21:36] KiranAminPanjwani opened #102 "Need to improve CSS of Login page and Login Form"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Describe the bug

- I have n

[2022-05-28 21:38] KiranAminPanjwani commented on #102
@coding-geek21 I am a GSSOC'22 participant, kindly assign this issue to me. Thank you.

[2022-05-29 16:21] #102 closed, assigned to KiranAminPanjwani

[2022-05-30 11:15] muhammadgalhoum commented on #47
Assign me please as a GSSoC contributor and give me the last update from the requirements.txt @coding-geek21

[2022-05-30 12:04] muhammadgalhoum commented on #47
Can u please give me the last update from the requirements.txt file? @coding-geek21
Because there are some problems when I set up the requirements

[2022-05-30 23:38] muhammadgalhoum commented on #75
Please assign this issue to me @coding-geek21

[2022-05-30 23:42] muhammadgalhoum commented on #71
Please assign this issue to me @coding-geek21

[2022-09-22 07:46] NageshMandal opened #107 "Light/Dark Mode Toggle Button"
## Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Define You

- [x] GSSoC22 Participant
- [x] Contributor

## Is your feature request rela

[2022-09-22 07:46] NageshMandal commented on #107
I want to work on this issue. Could you please assign it to me.